.sideBar{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #66d6d6;
  border: #66d6d6 1px solid;
  border-radius: 5px;
}

.logo{
  transition: all 1s ease;
  position: relative;
}

.btn {
  border: none;
  background: rgb(251,33,117);
  background: linear-gradient(0deg, #6366F1 0%,#5A5DFA 30%, #3F42E2 100%);
  color: #fff;
  overflow: hidden;
  &:hover {
    text-decoration: none;
    color: #fff;
    opacity: .7;
  }
  &:before {
    position: absolute;
    content: '';
    display: inline-block;
    top: -180px;
    left: 0;
    width: 30px;
    height: 100%;
    background-color: #fff;
    animation: shiny-btn 15s ease-in-out infinite;
  }
  //&:hover{
  //  opacity: .7;
  //}
  &:active{
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
    -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
  }
}

@-webkit-keyframes shiny-btn {
  0% { -webkit-transform: scale(0) rotate(45deg); opacity: 0; }
  20% { -webkit-transform: scale(0) rotate(45deg); opacity: 0.5; }
  21% { -webkit-transform: scale(4) rotate(45deg); opacity: 1; }
  30% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
  100% { -webkit-transform: scale(50) rotate(45deg); opacity: 0; }
}
