body{
  background-color: transparent;
  overflow-x: hidden;
}
div,p {
  outline: none;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
}

* {
  transition: all 0.18s cubic-bezier(0.4, 0, 0.2, 1);
}
