.con{
  display: grid;
  grid-template-rows: 1fr 30px;
  justify-content: start;
  grid-row-gap: 10px;
  align-items: center;
  align-content: start;
  grid-template-areas:
          "leftIcon rightTopData rightTopData"
          "leftIcon rightBottomData rightBottomData"
          "bottomData bottomData bottomData";

}
